body {
    background-color: #f7f7f7;
    color: #555;
}

.horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

a.anchor {
    display: block;
    position: relative;
    top: -41px;
    visibility: hidden;
}

.menu-wrapper {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0px 5px #0002;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    max-width: 600px;
    margin: 0 auto;
    color: #777;
}

.menu a {
    flex: 1;
    text-align: center;
    font-size: 0.7em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    padding: 14px;
}

.wrapper > .content {
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content > .intro {
    padding: 100px 20px 80px;
}

.intro h2 {
    margin-bottom: 25px;
}

.intro p {
    margin-bottom: 20px;
}

.donate {
    background-color: #e5e5e5;
    padding: 70px 10% 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.donate > .horizontal {
    margin-top: 40px;
}

.donate .donation-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    align-self: center;
    text-decoration: none;
    box-shadow: 0 1px 3px #0000001c;
    white-space: nowrap;
}

.paypal {
    background-color: #ffc43a;
    color: #121661;
    padding: 6px 15px;
    margin: -10px -15px;
    margin-left: 7px;
    border-radius: 50px;
}

.footer {
    margin-top: 150px;
    padding: 100px 20px;
    background-color: #777777;
    color: #ddd
}

.footer p {
    text-align: center;
    font-size: 0.8em;
}

.footer a {
    color: #8fc7ff;
}

.buymeacoffe-image {
    border-radius: 50%;
    height: 35px;
    margin: -10px -15px;
    margin-left: 10px;
}
